<div class="wrap-container wrap-container-new">

  <div class="new-top">

    <h1>Editar producto</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Quae asperiores error omnis saepe tempore.</p>

      <div class="bg-trame"></div>

  </div>



  <%= render 'form', product: @product %>


</div>
