<div class="wrap-container wrap-container-profile">

  <div class="profile-wrap">

    <div class="profile-card">
      <figure></figure>
      <h1><%= @user.name %></h1>
      <a href=""><%= @user.email %></a>
      
    </div>

  </div>


</div>
